ansible==2.9.12
ansible-lint==4.3.3
botocore==1.17.51
cffi==1.14.2
colorama==0.4.3
commonmark==0.9.1
cryptography==3.1
docutils==0.15.2
Jinja2==2.11.2
jmespath==0.10.0
MarkupSafe==1.1.1
pathspec==0.8.0
pyasn1==0.4.8
pycparser==2.20
Pygments==2.6.1
python-dateutil==2.8.1
PyYAML==5.3.1
rich==6.0.0
rsa==4.5
ruamel.yaml==0.16.10
ruamel.yaml.clib==0.2.0
s3transfer==0.3.3
six==1.15.0
typing-extensions==3.7.4.3
urllib3==1.25.10
yamllint==1.24.2
